<div class="contanier" style="margin:50px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar el producto</h4>
            <form method="post" action="/admin/products/modify" enctype="multipart/form-data">
                <input type="hidden" value="{{product.id}}" name="id">
                <div class="mb-3 row">
                    <input type="text" value="{{product.name}}" class="form-control" placeholder="Nombre" name="name">
                </div>
                <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeholder="Descripcion"
                        name="description">{{product.description}}</textarea>
                </div>
                <div class="mb-3 row">
                    <input type="number" value="{{product.price}}" class="form-control" placeholder="Precio"
                        name="price">
                </div>
                <div class="mb-3 row">
                    <input type="number" value="{{product.quantity}}" class="form-control" placeholder="Cantidad"
                        name="quantity">
                </div>
                <div class="mb-3 row">
                    <p>
                        <label>Imagen: <input type="file" class="form-control" name="imagen" id="imagen" /></label>
                    </p>
                    <p>
                        <label><input type="checkbox" name="img_delete" id="img_delete" value="1">
                            Eliminar imagen actual?</label>
                        <input type="hidden" name="img_original" value="{{product.img_id}}">
                    </p>
                </div>
                {{#if error}}
                <h5>{{message}}</h5>
                {{/if}}
                <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
        </div>
    </div>
</div>